name: Node.js

on:
  push:
  pull_request:

jobs:
  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 16
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: ${{ matrix.node-version }}
      - run: rm -rf node_modules && yarn install --frozen-lockfile
      - run: yarn test
